In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
s= "Baba"
print (s[-1::-1])

abaB

In [ ]:
print ("Om Sairam")

Om Sairam

In [ ]:
2+3

5

In [ ]:
a=10
print (a)
print (id(a))
b=10
c=10
b=20
print (id(b))
c=b
print (id(c))
a=b
print (id(a))

10
10751144
10751464
10751464
10751464

In [ ]:
a=6
if (a==5):
  print ("Sai")
print ('Baba')

Baba

In [ ]:
a=input("Enter some Text")
if (a=="Baba"):
  print ("Yes it is Baba")
print ("Sai")

Enter some TextBaba
Yes it is Baba
Sai

In [ ]:
a=2
b=3
if (a<b):
  print ("Sai")
#print ("Baba")
else:
  print ("Sai Baba")

Sai

In [ ]:
marks= int(input("Enter your marks"))
if (marks>=35):
  print ("Pass")
else:
  print ("fail")

Enter your marks23
fail

In [ ]:
number=int(input("enter a number"))
if (number%2==0):
  print ("even")
else:
  print ("odd")

enter a number23
odd

In [ ]:
score = int (input("enter your score"))
if score >=90:
  print ("A")
elif score >=80:
  print ("B")
elif score >=70:
  print ("C")
else:
  print ("D")

enter your score99
A

In [ ]:
a= int(input("enter number"))
i=1
while i<=10:
  print (i*a)
  i=i+1

enter number16
16
32
48
64
80
96
112
128
144
160

In [ ]:
i=1
while (i<=100):
  if (i%2==1):
    print (i)
  i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in "Sai Baba":
  print (i);

S
a
i

B
a
b
a

In [ ]:
for i in[1,2,3]:
  print (i)

1
2
3

In [ ]:
v=['a','e','i','o','u']
a= input ("enter a string")
counter =0
for i in a:
  if i in v:
    counter=counter+1
print (counter)

enter a stringHyderabad
3

In [ ]:
# Reverse string
a="Hyderabad"
print (a[-1::-1])

dabaredyH

In [ ]:
a="madam"
b=a[-1::-1]
print (b)
if (a==b):
  print ("Palindrome")
else:
   print ("Not a Palindrome")

madam
Palindrome

In [6]:
s="I Love Sai Baba"
print (s.split())
s="Swathi_is_my_wife"
s.split("_")
z='Hansini,completed,8th,grade'
z.split(',')

['I', 'Love', 'Sai', 'Baba']

['Hansini', 'completed', '8th', 'grade']

In [10]:
s='I was in Noida in 2005'
s.split(' ',3)

['I', 'was', 'in', 'Noida in 2005']

In [19]:
# List in Python -
h = [1,2,3,'Sai',230211,[9,10,11]]
print (h)
print (type(h))
print (h[0])
print (h[::])
print (h[::-1])
print (h[:4:1])
print (h[5][1])

[1, 2, 3, 'Sai', 230211, [9, 10, 11]]
<class 'list'>
1
[1, 2, 3, 'Sai', 230211, [9, 10, 11]]
[[9, 10, 11], 230211, 'Sai', 3, 2, 1]
[1, 2, 3, 'Sai']
10